<%= form_for @user do |s| %>
  <p>
    <%= s.label :username %>
    <%= s.text_field :username %>
  </p>
  <p>
    <%= s.label :email %>
    <%= s.text_field :email %>
  </p>
  <p>
    <%= s.label :password %>
    <%= s.password_field :password %>
  </p>
  <p>
      <%= s.submit %>
<% end %>
