<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1 id='title'>Users</h1>
    <div id='center'><div id="subhead">
      <% if logged_in? %>
      <%= link_to 'logout', logout_path, method: :delete %>
      <% else %>
      <%= link_to 'login', login_path %>
      <% end %>
      <% if @user.count < 1 %>
      <h1 id="subhead">No users registered.</h1>
      <% end %>
      <div id='center'><div id="subhead">
      <% @user.find_each do |user| %>
  <p>
    Username: <%= link_to user.username, user_path(user) %>
  </p>
  <p>
    Email: <%= user.email %>
  </p>
  <p>
    Password: <%= user.password %>
  </p>
  <p>
    Cars logged: <%= user.cars.count %>
  </p>

    <%=
      link_to 'EDIT', edit_user_path(user)
    %>
    <%=
     link_to 'DELETE', user_path(user), method: :delete, data: {confirm: "u sure?"}
   %>
   </br>
          <% end %>
          </br></br></br>
            <div id='link'>
              <%=
                link_to 'Create New User', signup_path, id: 'link'
              %></br>
              <%=
                link_to 'Back', home_bio_path, id: 'link'
              %></div>

      </div>    </div>
  </body>
</html>
