<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>



    <h1 id="title">Add a User</h1>


    <div id='center'><div id="content">
      <%= render "form" %>
  </div></div>

  <div id="center"><div id="content">
    <% if @user.errors.any? %>
  <h2>Errors:</h2>
  <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <%= msg %>
    <% end %>
  </ul>
  <% end %>
  </div></div>
  <div id='showall'><div id="center"><div id="subhead">
    <span>
     <!-- rails link_to 'Show Users Cars', users_path, id: 'link'%> -->
     <%=
       link_to 'Back', users_path, id: 'link'
     %>
  </span>
  </div>
  </div>

  </div>
  </body>
</html>
