<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <% if logged_in? %>
    <h1>logged in nigga!</h1>
    <% else %>
    <h1 id='title'>User Created!</h1>
    <% end %>
    <div id='center'><div id="subhead">

<p>
  Username: <%= @user.username %>
</p>
<p>
  Email: <%= @user.email %>
</p>
<p>
  Password: <%= @user.password %>
</p>
<p>
  Cars logged: <%= @user.cars.count %>
</p>

<% @user.cars.find_each do |car| %>
<p>
  Plate Number: <%= car.plate_number %>
</p>
<p>
  Time In: <%= car.time_in %>
</p>
<p>
  Time Out: <%= car.time_out %>
</p>
<p>
  Color: <%= car.color %>
</p>
<p>
  Brand: <%= car.brand %>
</p>
<p>
  Owner: <%= car.user.username %>
</p>
<!-- <p>
  Created At: <%= car.created_at %>
</p> -->
<p>
  Created At: <%= time_ago_in_words(car.created_at) %> ago
  </p>
<p>
  Updated At: <%= car.updated_at %>
</p>
          <% end %>
<div id='link'>
  <%=
    link_to 'Create New User', signup_path, id: 'link'
  %>

</br>
  <%=
    link_to 'Back', home_bio_path, id: 'link'
  %></div>
    </div>    </div>
  </body>
</html>
