<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div id="center">
<h1 id='title'>About Me</h1>
<h1 id='subhead'>Paolo Sanchez</h1>
<img id='dp' src="https://scontent.fmnl4-6.fna.fbcdn.net/v/t31.0-8/21246295_1997304056953942_4081317352325295172_o.jpg?_nc_cat=106&oh=20b5af8cbecab4f28e447792a5fb6c07&oe=5C58FB9A">
<h1 id='content'>I am Paolo Sanchez, a 3 BS MIS student studying under the best MIS 21 prof named Jacob Chua. I am 20 years young and I love Apple. I like Nancy and Yeonwoo from Momoland. I went to Hong Kong Baptist University for STA. We had a GUI for git commands so we never memorized how to git güd. My favorite git is the gitara. My favorite song is The Middle by Zedd ft. some other girl. This song is my favorite git because in Filipino it's translated to Sa Gitna.</h1>
</div>
<div id="center">
  <%=
    link_to 'Parking Lot', new_car_path, id: 'link'
  %>
  </br>
  <%=
    link_to 'Users', users_path, id: 'link'
  %></div>
  </body>
</html>
