<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
<div id="center"><h1 id="title">Welcome to The Parking Lot</h1>

<%=
  link_to 'Bio', home_bio_path, id: 'link'
%>
</div>
  </body>
</html>
