#title {
  text-align: center;
  font-family: "Helvetica";
  font-weight: lighter;
  color:back;
}
body  {
  /* background-image: url('http://getwallpapers.com/wallpaper/full/e/d/9/1096626-black-car-wallpaper-2560x1600-for-macbook.jpg'); */
  background-repeat: repeat-y;
}
#center {
  text-align: center;
}
#subhead  {
  color: black;
  text-align: center;
  font-family: 'Helvetica';
}
#dp {
  height: 20%;
  width: 20%;

}
#content  {
  color:black;
  font-family: 'Helvetica';
  font-weight: 100;
  font-size: 90%;
  margin-left: 30%;
  margin-right: 30%;
}
#link {
  color: red;
  font-family: 'Tahoma';
  font-weight: bolder;
  font-size: 40px;
  text-align: center;
  background-color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

#deflink  {
  color: red;
  font-family: 'Tahoma';
  font-weight: bolder;
  font-size: 40px;
  text-align: center;
  background-color: white;

}

#showall  {
  color: black;
  font-family: 'Tahoma';
  font-weight: bolder;
  font-size: 40px;
  text-align: center;
  background-color: white;
  margin-left: 40%;
  margin-right: 40%;
  margin-top: 10%;
}
