<%= form_for @car do |s| %>
  <p>
    <%= s.label :plate_number %>
    <%= s.text_field :plate_number %>
  </p>
  <p>
    <%= s.label :time_in %>
    <%= s.datetime_field :time_in %>
  </p>
  <p>
    <%= s.label :time_out %>
    <%= s.datetime_field :time_out %>
  </p>
  <p>
    <%= s.label :color %>
    <%= s.select :color, ['White', 'Black', 'Silver', 'Red', 'Blue', 'Yellow'] %>
  </p>
  <p>
    <%= s.label :brand %>
    <%= s.select :brand, ['Honda', 'Toyota', 'Ford', 'BMW', 'Mercedes', 'Ferrari', 'Hyundai', 'Porsche'] %>
  </p>
  <p>
      <%= s.submit %>
<% end %>
