<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1 id='title'>Cars</h1>
    <div id='center'><div id="subhead">
      <% if @car.count < 1 %>
      <h1 id="subhead">No cars parked.</h1>
      <% end %>
      <% @car.find_each do |car| %>
      <p>
        Plate Number: <%= car.plate_number %>
      </p>
      <p>
        ID: <%= car.id %>
      </p>
      <p>
        Time In: <%= car.time_in %>
      </p>
      <p>
        Time Out: <%= car.time_out %>
      </p>
      <p>
        Color: <%= car.color %>
      </p>
      <p>
        Brand: <%= car.brand %>
      </p>
      <p>
        Created At: <%= car.created_at %>
      </p>
      <p>
        Updated At: <%= car.updated_at %>
      </p>
      <%=
        link_to 'EDIT', edit_car_path(car)
      %>
      <%=
       link_to 'DELETE', car_path(car), method: :delete, data: {confirm: "u sure?"}
     %>
    </br>
      <% end %>
    </div></div>
    <div id='center'>
      <%=
        link_to 'Back', new_car_path, id: 'link'
      %>

      </div>
        </div>    </div>
  </body>
</html>
