<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>



    <h1 id="title">Add a Car</h1>


    <div id='center'><div id="content">
      <%= render "form" %>
  </div></div>

  <div id="center"><div id="content">
    <% if @car.errors.any? %>
  <h2>Errors:</h2>
  <ul>
    <% @car.errors.full_messages.each do |msg| %>
      <%= msg %>
    <% end %>
  </ul>
  <% end %>
  </div></div>
  <div id='showall'><div id="center"><div id="subhead">
    <span>
    <%= link_to 'Show All Cars', cars_path, id: 'link'%>
  </span>
  </div>
  <div></br>
  <%=
    link_to 'Back', home_bio_path, id: 'link'
  %>
</div>
  </div>

  </div>
  </body>
</html>
