<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1 id='title'>Car Parked!</h1>
    <div id='center'><div id="subhead">
<style="font-color:white">
<p>
  Plate Number: <%= @car.plate_number %>
</p>
<p>
  Time In: <%= @car.time_in %>
</p>
<p>
  Time Out: <%= @car.time_out %>
</p>
<p>
  Color: <%= @car.color %>
</p>
<p>
  Brand: <%= @car.brand %>
</p>
<p>
  Owner: <%= @car.user.username %>
</p>
<!-- <p>
  Created At: <%= @car.created_at %>
</p> -->
<p>
  Created At: <%= time_ago_in_words(@car.created_at) %> ago
  </p>
<p>
  Updated At: <%= @car.updated_at %>
</p>
</style>
<div id='link'>
<%=
  link_to 'Back', new_car_path, id: 'link'
%></div>
    </div>    </div>
  </body>
</html>
